* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #6d918d;
  justify-content: center;
  align-items: center;
}

#mainForm {
  text-align: center;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #665c5ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: aliceblue;
}

#mainForm .form-group {
  margin-bottom: 20px;
}

#mainForm input,
textarea,
select {
  color: aliceblue;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid aliceblue;
  margin-bottom: 10px;
  outline: none;
  text-align: center;
  width: 100%;
  padding: 10px;
  font-size: 1em;
}

#mainForm input[type="submit"] {
  background-color: aliceblue;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#mainForm input[type="submit"]:hover {
  background-color: lightblue;
}

#output {
  margin-top: 20px;
  color: aliceblue;
  text-align: center;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  font-size: 1.2em;
}
