:root {
  --primary-color: #007bff;
  --primary-hover-color: #0056b3;
  --background-color: #f0f0f0;
  --card-background-color: #fff;
  --text-color: #fff;
  --input-border-color: #ccc;
  --dropdown-background-color: #e0e0e0;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles for modifying swal appearance*/

.swal2-confirm {
  background-color: var(--primary-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}

.swal2-confirm:hover {
  background-color: var(--primary-hover-color);
}

body {
  font-family: "Ubuntu Sans Mono", monospace;
  background-color: var(--background-color);
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 0;
}

header {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  position: fixed;
  top: 0;
}

a:active,
a:hover,
a {
  color: #0056b3;
}

main {
  background-color: var(--card-background-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--shadow-color);
  padding: 20px;
  width: 80%;
  max-width: 600px;
  text-align: center;
  margin-top: 60px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.inputs {
  background-color: var(--card-background-color);
  width: 100%;
  padding: 10px;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  margin-bottom: 10px;
}

#dropdown {
  background-color: var(--dropdown-background-color);
}

input[type="submit"] {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: var(--primary-hover-color);
}

#output {
  margin-top: 20px;
  font-size: 1.2em;
}
